/* Import Roboto font family from a CDN or your project's assets */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i&display=swap');

/* Reset some default styles for better consistency across browsers */
html, body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
}

/* Center headings */
h1, p {
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-top: 20px;
}

/* Toolbar Styles */
.top-toolbar, .bottom-toolbar {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    height: 50px;
}

.top-toolbar {
    top: 0;
    border-bottom:#000000;
}

.bottom-toolbar {
    bottom: 0;
}

.top-toolbar img, .bottom-toolbar img {
    transform: scale(2);
}

.top-toolbar button, .bottom-toolbar button {
    background-color: #ffffff;
    color: #000000;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    flex-grow: 1;
    text-align: center;
}

/* Main Content Styles */
.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 120px); /* Adjusted for toolbar heights */
    padding-top: 80px;
    padding-bottom: 80px;
    box-sizing: border-box;
}

/* Chat List Styles */
.chat-list {
    width: 90%;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: 30%;
}

.chat-item {
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #040000;
}

.chat-profile-pic {
    padding: 1%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
    object-fit: cover;
}

.chat-info {
    overflow: hidden;
}

.chat-name, .chat-last-message {
    margin: 0;
}

.chat-name {
    font-size: 16px;
    font-weight: bold;
}

.chat-last-message {
    font-size: 14px;
    color: #666;
}

/* Profile Content Styles */
.profile-content {
    max-width: 600px;
    margin: auto;
    padding: 20px;
}

.profile-row {
    display: flex;
    margin-bottom: 10px;
}

.profile-row label {
    flex-basis: 30%;
    text-align: right;
    margin-right: 10px;
    align-self: center;
}

.profile-row input {
    flex-grow: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.profile-content button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

/* Button Press Effect */
button {
    transition: transform 0.1s ease;
}

button:active {
    transform: scale(0.95);
}

/* Explore Content Styles */
.explore-content {
    /* Additional styles if needed */
}

.location-card {
    width: 100%; /* Full width */
    height: calc(100vh - 120px); /* Adjust based on the combined height of the toolbars */
    position: relative;
    overflow: hidden; /* Hide parts of the image that overflow */
    padding-top: 30%;
}

.location-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* This will cover the area, potentially cropping the image */
    object-position: center; /* Adjust the position of the image */
}

.floating-button {
    position: absolute;
    border: none;
    background: none;
    cursor: pointer;
}

.like-button, .dislike-button {
    bottom: 10px;
    width: 50px;
    height: 50px;
}

.like-button {
    right: 10px;
}

.dislike-button {
    left: 10px;
}

.floating-button img {
    width: 100%;
    height: auto;
}
